body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hero {
    background-color: #1F2937;
    min-width: 1000px;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.right-hero {
    display: flex;
    flex-shrink: 1;
}

.hero-image {
    width: 330px;
    height: auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 150px;
}

ul {
    display: flex;
    gap: 20px;
}

li {
    list-style-type: none;
}

.hero-content {
    display: flex;
    padding: 50px 60px;
    justify-content: space-between;
    padding: 50px 150px;
    align-items: center;
    gap: 200px;
}

.main-title {
    font-size: 40px;
    font-weight: bolder;
    color: #F9FAF8;
}

.main-title-explanation, li {
    color: #E5E7EB;
    font-size: 18px;
}

.main-title, .main-title-explanation, button {
    margin-bottom: 10px;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 7px;
    padding: 5px 20px;
}

.upper {
    margin-bottom: 100px;
}

.upper-title {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 25px;
}

.upper-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.upper-container-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
}

.upper-image {
    width: 150px;
    height: 150px;
    border: 5px solid #3882F6;
    border-radius: 15px;
}

.upper-container-info-text {
    text-align: center;
    padding-top: 5px;
    max-width: 150px;
    color: #1F2937;
}

.middle {
    background-color: #E5E7EB;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 -8px;
    padding: 50px;
    gap: 10px;
    flex-wrap: wrap;
}

.quote {
    display: flex;
    flex-direction: column;
    color: #1F2937;
    font-style: italic;
    justify-content: center;
    max-width: 500px;
    min-width: 100px;
}

.source {
    font-weight: bold;
    display: flex;
    justify-content: end;
    max-width: 500px;
    min-width: 100px;
    margin-right: 25px;
}